<!DOCTYPE html>
<html>
	<head>
		<title>Marcos Ortiz</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Marcos Ortiz!</h1>
				<p>I'm a Product Manager at HDS, focused on Growth and Payments Security. <a href="/about">Read more about me...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:marcosluis2186@gmail.com">email</a></li>
        		<li><a href="https://github.com/marcosluis2186">github.com/marcosluis2186</a></li>
			</ul>
		</footer>
	</body>
</html>
