<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:marcosluis2186@gmail.com">email</a></li>
			<li><a href="https://twitter.com/marcosluis2186" target="_blank">Twitter</a></li>
        		<li><a href="https://github.com/marcosluis2186">github.com/marcosluis2186</a></li>
			<li><a href="https://www.linkedin.com/in/mlortiz" target="_blank">LinkedIn</a></li>
			<li><a href="https://quora.com/profile/Marcos-Ortiz-1" target="_blank">Quora</a></li>
			<li><a href="https://facebook.com/marcosluis2186" target="_blank">Facebook</a></li>
		</ul>
		
		</footer>
	</body>
</html>
